* {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  background-color: var(--base-color-1);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
:root {
  /* Colors */
  --accent-color: #4C9EBC;
  --base-color-0: #101010;
  --base-color-1: #151515;
  --base-color-2: #202020;
  --item-color: #303030;
  --border-color: #606060;
  /* actions */
  /* base */
  --base-hover-color: #202020;
  --base-active-color: #464646;
  /* container */
  --container-hover-color: #404040;
  --container-active-color: #808080;
  /* item */
  --item-hover-color: #404040;
  --item-active-color: #808080;
  /* accent */
  --accent-hover-color: #4c9ebcc6;
  --accent-active-color: #4c9ebc;
  /* Text Colors */
  --text-color: #bbb;
  --icon-color: #bbbbbb;
  --highlight-color: #666;
}
::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--item-color);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--item-hover-color);
}
::-webkit-scrollbar-thumb:active {
  background: var(--item-active-color);
}
/* Website Layout CSS */
.app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}
.app-body {
  display: grid;
  justify-self: center;
  align-content: center;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  max-width: 2000px;
  padding: 20px;
  gap: 20px;
}
@media (max-width: 1400px) {
  .app-body {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
/*
@media (max-width: 1400px) {
    .app-body {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {
    .tab-item.row-section {
        flex-direction: column;

        .right-section {
            border-left: none;
            padding: 0;
            margin-top: 20px;
        }
    }
}
*/
.content-tab {
  background-color: var(--container-color);
  max-width: 1000px;
  width: 100%;
  min-height: 600px;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.tab-item {
  border: red 1px dotted;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
.row-section {
  flex-direction: row;
}
h1 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  color: var(--text-color);
  margin: 0;
  width: 100%;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
  font-size: x-large;
}
h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, var(--border-color), transparent);
  pointer-events: none;
}
h3 {
  color: var(--icon-color);
  margin: 0;
  width: 100%;
  font-size: medium;
  padding-bottom: 6px;
  font-weight: normal;
}
input {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #ddd;
  box-sizing: border-box;
  height: 35px;
}
textarea {
  font-size: 16px;
  margin-bottom: 6px;
  width: 100%;
  height: 60px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #ddd;
  box-sizing: border-box;
  resize: none;
}
select {
  flex-grow: 0;
  height: 25px;
  width: 154px;
  text-align: center;
  background: #333333;
  color: #bbbbbb;
  border: none;
  border-radius: 5px;
  font-size: small;
  outline: none;
}
select option:disabled {
  display: none;
}
.header-button-group {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
@media (max-width: 600px) {
  .header-button-group {
    flex-direction: column;
  }
}
.header-button {
  background-color: var(--item-color);
  color: var(--text-color);
  font-size: large;
  height: 35px;
  width: auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.header-button:hover {
  background-color: var(--item-hover-color);
}
.header-button:active {
  background-color: var(--item-active-color);
  animation: buttonPress 0.2s ease;
}
@keyframes buttonPress {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.app-header {
  background-color: var(--base-color-0);
  border-bottom: var(--border-color) 1.5px solid;
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  z-index: 1000;
}
.start {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.start .stroodle-logo {
  margin: 10px;
  width: 150px;
  height: auto;
}
.end {
  display: flex;
  justify-content: flex-end;
}
.button-container {
  user-select: none;
  align-items: center;
  margin: 0 20px 0 0;
  display: flex;
  gap: 20px;
}
.button-container button {
  margin: 0;
  padding: 0;
  height: 35px;
  width: 35px;
  background-color: var(--base-color);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.button-container button:hover {
  background-color: var(--base-hover-color);
}
.button-container button:active {
  background-color: var(--base-active-color);
  animation: buttonPress 0.2s ease;
}
.button-container button .icon {
  fill: var(--icon-color);
  width: 35px;
  height: auto;
}
.button-container .profile-button {
  border-radius: 17.5px;
}
.dropdown-container {
  width: 140px;
  background-color: var(--base-color-0);
  border-left: var(--border-color) 1px solid;
  position: absolute;
  display: grid;
  right: 0;
  top: 80px;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.dropdown-container.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
a {
  padding: 10px;
  color: var(--icon-color);
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  position: relative;
}
a:active {
  background-color: var(--base-active-color);
}
.border-hover:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(to right, transparent, var(--border-color), transparent);
  pointer-events: none;
}
.border::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(to right, transparent, var(--border-color), transparent);
  pointer-events: none;
}
/* global */
.tab {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: transparent;
  border-radius: 3px;
  border: var(--border-color) 1px solid;
  grid-column: span 5;
  height: 600px;
}
.single-tab {
  grid-column-start: 3;
  grid-column-end: span 6;
}
.grow-tab {
  height: auto;
  min-height: 600px;
}
/* dashboard */
.my-poll-tab {
  grid-column: span 6;
}
.event-tab {
  grid-column: span 4;
}
.test {
  border: red 1px dotted;
}
@media (max-width: 1400px) {
  .tab {
    width: 100%;
    max-width: 865px;
    grid-column: span 1;
  }
}
.create-button {
  position: relative;
  display: flex;
  overflow: visible;
  cursor: pointer;
  right: calc(-100% + 35px);
  transition: right 0.15s linear;
}
.create-button .plus-icon {
  color: var(--icon-color);
  font-size: 35px;
  border-radius: 10%;
  transition: background-color 0.25s linear;
}
.create-button .text {
  padding-left: 5px;
  width: fit-content;
}
.create-button:hover {
  right: 0;
}
.create-button:hover .plus-icon {
  background-color: var(--accent-hover-color);
}
.create-button:active {
  animation: buttonPress 0.2s ease;
}
.create-button:active .plus-icon {
  background-color: var(--accent-active-color);
}
.info-cards-component {
  width: 100%;
  height: 555px;
  padding-right: 5px;
  display: grid;
  grid-auto-rows: calc((100% / 3) - 10px);
  gap: 15px;
  overflow-y: auto;
}
.my-cards {
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 700px) {
  .my-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.event-cards {
  grid-template-columns: repeat(1, 1fr);
}
.card {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--base-color-2);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  border: transparent 1px solid;
}
.card:hover {
  border: var(--accent-color) 1px solid;
}
.card .info-section {
  display: grid;
  grid-template-rows: 1fr auto;
  padding-right: 10px;
}
.card .info-section .info-text {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.card .info-section .info-text h2 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
}
.card .info-section .info-text p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  hyphens: auto;
  overflow: hidden;
  word-wrap: break-word;
}
.card .info-section .line-clamp-2 {
  -webkit-line-clamp: 2 !important;
}
.card .info-section .info-plus {
  min-width: 0;
}
.card .info-section .info-plus .flex {
  display: flex;
  gap: 50px;
}
.card .info-section .info-plus p {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card .info-section .info-plus p .icon {
  margin-bottom: -2.5px;
  margin-right: 10px;
}
.card .button-group {
  margin-left: 5px;
  display: grid;
  grid-template-rows: auto auto auto;
}
.card .button-group .button {
  border: none;
  padding: 10px;
  background-color: transparent;
  color: white;
  flex-grow: 1;
  width: auto;
  border-bottom: 1px var(--border-color) solid;
  cursor: pointer;
}
.card .button-group .button:first-child:hover {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.card .button-group .button:last-child {
  border-bottom: none;
}
.card .button-group .button:last-child:hover {
  background-color: #ff000055;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.card .button-group .button:last-child:active {
  background-color: #ff000084;
}
.card .button-group .button:hover {
  background-color: var(--item-color);
}
.card .button-group .button:active {
  background-color: var(--item-active-color);
  animation: buttonPress 0.2s ease;
}
.card .button-group .icon {
  font-size: large;
}
.card .state-section {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  border-left: var(--border-color) 1px solid;
  padding-left: 10px;
}
.card .state-section .first {
  font-weight: bolder;
  color: var(--accent-color);
}
.card .state-section .rest {
  font-weight: bold;
}
.week-view-component {
  width: 100%;
  height: 555px;
}
.fc {
  --fc-today-bg-color: transparent;
  --fc-border-color: var(--text-color);
  width: 100%;
}
.fc .fc-bg-event {
  opacity: 0.65;
}
.fc .fc-toolbar-title {
  margin-left: 10px;
  font-size: large;
  color: var(--text-color);
}
.fc-toolbar {
  justify-content: flex-start;
  margin: 10px 0 15px 0;
}
.fc-event {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
}
.fc-event button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
}
.fc-event button:hover {
  cursor: pointer;
}
.fc-event .event-button {
  border: red 1px solid;
  padding-bottom: 0;
}
.fc-view {
  color: #bbbbbb;
}
.fc-button-primary {
  background-color: #333;
  color: #bbb;
  border: none;
  display: flex;
  border-radius: 5px;
  padding: 5px;
  height: 35px;
  margin-right: 10px;
}
.fc-button-primary:disabled {
  pointer-events: none;
}
.fc-button-primary:focus {
  box-shadow: none;
}
.fc-button-primary:hover {
  background-color: #444;
}
.fc-button-primary:active {
  background-color: #555;
  animation: buttonPress 0.2s ease;
}
.fc-duration-button {
  position: relative;
  background-color: #333;
  height: 100%;
  width: 115px;
}
.fc-duration-button:hover,
.fc-duration-button:active,
.fc-duration-button:focus {
  background-color: #333;
  box-shadow: none;
  animation: none;
}
.fc-duration-button .duration-select {
  position: absolute;
  height: 100%;
  margin: -5px 0 0 -5px;
  padding-top: 2px;
  padding-right: 5px;
  background-color: #333;
  font-size: 1em;
}
.fc-duration-button .duration-select option:disabled {
  display: none;
}
@keyframes buttonPress {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.poll-details {
  margin-top: 30px;
  width: 100%;
  overflow: auto;
  /* to display the scrollbar on top  */
  transform: rotateX(180deg);
}
.poll-details > * {
  transform: rotateX(180deg);
}
.poll-details::-webkit-scrollbar-track {
  margin-left: 200px;
}
.selected {
  border: var(--accent-color) 1px solid !important;
  background-color: var(--base-color-2);
}
.date-card-component {
  border: transparent 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  height: 100%;
  width: 100%;
  margin: 2.5px;
  padding: 3px 0 3px 0;
  text-align: center;
}
.date-card-component .first {
  color: var(--accent-color);
}
.date-card-component .date-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.date-card-component .date-section > * {
  line-height: 1;
}
.date-card-component .date-section .weekday {
  font-weight: lighter;
}
.date-card-component .date-section .day {
  font-size: xx-large;
}
.date-card-component .date-section .month {
  font-weight: lighter;
}
.date-card-component .time-section .time {
  font-size: small;
}
.date-card-component .time-section .time p {
  display: flex;
  justify-content: end;
}
.date-card-component .time-section .duration {
  font-size: small;
  font-weight: lighter;
}
.date-card-component .action-section {
  border-top: var(--border-color) 1px solid;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.date-card-component .action-section .booked {
  font-size: large;
}
.date-card-component .action-section .booked .icon {
  font-size: 35px;
  margin: 0;
  padding: 0;
}
.date-card-component .action-section .booked .star-fill {
  color: var(--accent-color);
}
.date-card-component .action-section .check-box {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: var(--border-color) 1.5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-card-component .action-section .check-box .icon {
  font-size: xx-large;
  color: var(--accent-color);
}
.date-card-component .action-section p .icon {
  margin-bottom: -2.5px;
  margin-right: 10px;
}
.grid {
  padding-top: 15px;
  display: grid;
  grid-template-rows: auto;
  gap: 15px;
  width: 0;
}
.date-row {
  display: grid;
  grid-template-columns: 1fr repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: column;
}
.voter-row {
  display: grid;
  grid-template-columns: 1fr repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-flow: column;
}
.date-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: auto;
}
.first-cell {
  position: sticky;
  left: 0;
  background-color: var(--base-color-1);
}
.first-cell:first-child {
  z-index: 1;
  width: 200px;
  background-color: var(--base-color-1);
}
.first-cell-bg {
  background: var(--base-color-2);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 5px;
}
.voter-cell {
  border-right: 1px solid var(--border-color);
  background-color: var(--base-color-2);
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.voter-cell:first-child {
  background-color: var(--container-color);
}
.voter-cell:last-child {
  border-right: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.voter-cell .icon {
  font-size: x-large;
}
@media (max-width: 630px) {
  .first-cell:first-child {
    width: 100px;
  }
}
.search-bar-component {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.search-bar-component .search-icon {
  position: absolute;
  color: #999999;
  top: 9px;
  left: 10px;
}
.search-bar-component .search-input {
  padding-left: 35px;
}
.search-bar-component .result-list {
  position: absolute;
  background-color: #444444;
  border-radius: 5px;
  max-height: 160px;
  overflow-y: auto;
  width: 100%;
  top: 44px;
}
.search-bar-component .result-list li {
  padding: 5px 10px 5px 10px;
  list-style: none;
  transition: background-color 0.3s ease;
}
.search-bar-component .result-list li span {
  color: #161616;
}
.search-bar-component .result-list .list-item:hover {
  background-color: #6b6b6b;
}
.added-participants-body {
  width: 100%;
  max-height: 180px;
  overflow-y: auto;
}
.participant-body {
  border-radius: 22.5px;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.participant-body:hover {
  background-color: #333;
}
.participant-body:hover .x-icon {
  display: block;
}
.participant-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999999;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px 10px 5px 5px;
}
.participant-initials {
  color: #171717;
  font-weight: bold;
  width: 100%;
  font-size: 18px;
  text-align: center;
}
.participant-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.participant-name {
  color: #bbbbbb;
  font-size: 18px;
  margin: -2px 0px 0px 0px;
}
.participant-email {
  font-size: 14px;
  color: #9e9e9e;
  margin: 0px;
}
.x-icon {
  font-size: 24px;
  display: none;
  margin-left: auto;
  margin-right: 10px;
}
.no-participants {
  color: #999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
p {
  margin: 0;
}
