.plus-icon {
    color: #999999;
    font-size: 35px;
    position: absolute;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10%;

    &:hover {
        background-color: var(--hover-color);
    }

    &:active {
        background-color: var(--accent-color);
        animation: buttonPress 0.2s ease;
    }
}