.create-button {
    position: relative;
    display: flex;
    overflow: visible;

    right: calc(-100% + 35px);
    transition: right 0.25s linear, ;

    .plus-icon {
        color: var(--icon-color);
        font-size: 35px;
        border-radius: 10%;
    }

    .text {
        padding-left: 5px;
        width: fit-content;
    }


    &:hover {
        right: 0;

        .plus-icon {
            background-color: var(--container-hover-color);
        }

    }

    &:active {
        animation: buttonPress 0.2s ease;

        .plus-icon {
            background-color: var(--container-active-color);
        }
    }
}