.plus-icon {
    color: #999999;
    font-size: 35px;
    position: absolute;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10%;

    .plus-icon:hover {
        background-color: #444444;
        box-shadow: 0 0 0 0.1px #444444;
    }

    &:active {
        background-color: var(--accent-color);
        animation: buttonPress 0.2s ease;
    }
}