.dashboard-container {
    background-color: #171717;
    color: #ddd;
    min-height: 100vh;
    width: 100%;
}

.dashboard-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}

.created-polls-tab-header {
    position: relative;
    color: #bbbbbb;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #444444;
}

.plus-icon {
    color: #999999;
    font-size: 35px;
    position: absolute;
    margin-right: -10px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10%;
}

.plus-icon:hover {
    background-color: #444444;
    box-shadow: 0 0 0 0.1px #444444;
}

.created-polls-tab {
    width: min-content;
    height: max-content;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #444444;
    background-color: #202020;
}

.created-polls-list {
    width: 764px;
    min-height: 560px;
    max-height: 560px;
    overflow: auto;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}