.header-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    background-color: #333;
    color: #ddd;
    border-bottom: 3px solid #777777;
}

.logo {
    width: 150px;
    height: auto;
}

.right-section {
    display: flex;
    align-items: center;
}

.dropdown-button {
    background: none;
    border: none;
    margin-left: 0px;
}

.dropdown-button svg {
    fill: #ddd;
    width: 30px;
    height: auto;
}

.profile-icon {
    background: none;
    border: none;
    margin-right: 10px;
}

.profile-icon svg {
    fill: #ddd;
    width: 40px;
    height: auto;
}

.page-links a {
    text-decoration: none;
    color: #ddd;
    margin-right: 35px;
    font-size: 20px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #333;
    border: 1px solid #777777;
    border-top: 3px solid #777777;
    width: 120px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1;
}

.dropdown-open {
    opacity: 1;
    /* Volle Sichtbarkeit */
    visibility: visible;
    /* Klickbar */
    transform: translateY(0px);
    /* Bewege in sichtbare Position */
}

.dropdown-menu a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #777;
}