.poll-details {
    margin-top: 30px;
    width: 100%;
    overflow: auto;

    /* to display the scrollbar on top  */
    transform: rotateX(180deg);

    >* {
        transform: rotateX(180deg);
    }
}

.poll-details::-webkit-scrollbar-track {
    margin-left: 200px;
}