.date-card-component {
    border: red 1px dotted;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    height: 100%;

    .time {
        width: fit-content;
        height: auto;

        p {
            text-align: right;
        }

    }

}